body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#0b0f14;
  color:white;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#0e141b;
  border-bottom:1px solid #16202a;
  position:sticky;
  top:0;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
  font-weight:bold;
}

.logo img{
  width:45px;
}

nav a{
  margin-left:20px;
  text-decoration:none;
  color:#aaa;
}

nav a.active{color:#4db8ff;}
nav a.join{
  background:#1da1f2;
  padding:8px 14px;
  border-radius:8px;
  color:white;
}

/* HERO */
.hero{
  height:70vh;
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.hero-content{
  background:rgba(0,0,0,0.6);
  padding:30px;
  border-radius:10px;
}

/* BUTTON */
.btn{
  display:inline-block;
  margin-top:15px;
  padding:10px 18px;
  border-radius:8px;
  background:#1da1f2;
}

/* CARDS */
.cards{
  display:flex;
  gap:20px;
  padding:40px;
}

.card{
  background:#111826;
  padding:20px;
  border-radius:10px;
  flex:1;
}

/* DEPARTMENTS */
.dept{
  height:400px;
  background-size:cover;
  display:flex;
  align-items:center;
  padding:40px;
}

.dept div{
  background:rgba(0,0,0,0.7);
  padding:20px;
  border-radius:10px;
}

/* COLORS */
.gold{background:#d4af37;}
.blue{background:#1da1f2;}
.purple{background:#7b61ff;}
.red{background:#ff4d4d;}

/* SHOP */
.shop-hero{
  text-align:center;
  padding:50px;
}

.pricing{
  display:flex;
  gap:30px;
  padding:40px;
}

.price-card{
  background:#111826;
  padding:20px;
  border-radius:10px;
  flex:1;
}

.price-card ul{
  margin-top:10px;
}

